.pitch {
  background-image: url('../../images/pitch.jpg');
  background-size: contain;
  height: 798px;
  width: 623px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
